@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

// .popover-menu {
//   position: absolute;
//   top: 2rem;
//   right: .5rem;
//   background-color: #808080;
 // display: flex;
 // flex-direction: column;
  
// }
.app-header { 
  --header-color: #424242;
}

.app-header {
  font-family: 'Roboto', sans-serif;
  .app-header__title {

    font-size: 2rem;
    text-align: center;
    font-stretch: condensed;
    color: var(--header-color);
  }
  
  .menu-icon__img {
    --height: 100px;
    height: 40px;
    margin: 10px;
    border-right: 1px solid #ccc;
    width: 56px;
  }
  
}