<ion-list>
  <ion-list-header>{{menuTitle}}</ion-list-header>
  <ion-item *ngFor="let p of appPages; let i = index" (click)="goto(p.url)">
    <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
    <ion-label>{{ p.title }}</ion-label>
  </ion-item>
  <!-- <ion-item><a (click)="goto('/tabs/tab1')">go to Tab 1</a></ion-item>
  <ion-item><a (click)="goto('/tabs/tab2')">go to Tab 2</a></ion-item>
  <ion-item><a (click)="goto('/tabs/tab3')">go to Tab 3</a></ion-item> -->
</ion-list>